[defaults]
host_key_cheking = false
fact_caching = jsonfile
fact_caching_connection = /tmp/facts_cache
library = library
gather_facts = true
interpreter_python = auto

[connection]
pipelining = True
ansible_ssh_private_key_file=~/.ssh/id_rsa25519

[ssh_connection]
pipelining = True
